[submodule "yamlish.js"]
	path = yamlish.js
	url = git://github.com/isaacs/yamlish.git
[submodule "Data--YAML"]
	path = Data--YAML
	url = git://github.com/AndyA/Data--YAML.git
[submodule "pyyaml"]
	path = pyyaml
	url = git@gitorious.org:yamlish/pyyaml.git
